<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"     
      xmlns:h="http://java.sun.com/jsf/html">
 
    <h:head>
        <title>Documents</title>
    </h:head>
    <h:body>
         <h:form id="form" enctype="multipart/form-data">
            <table width="200" border="1">
                <tr>
                    <td valign="top">Create new document</td>
                </tr>
                <tr> <td> 
                    <label>Title </label>
                    <h:inputText id="name" value="#{documentBean.name}"></h:inputText>
                </td></tr> 
                <tr> <td>
                    <label>Comments </label>
                    <h:inputTextarea id="comments" value="#{documentBean.comments}" cols="40" rows="5" />
                </td></tr> 
                <tr><td> 
                    <h:dataTable id="tblFields" value="#{documentBean.fields}" var="field">
                        <h:column>
                            <h:inputFile value="#{field.value}" />
                        </h:column>
                        <h:column>
                            <h:commandButton value="Remove">
                            <f:ajax listener="#{documentBean.onButtonRemoveFieldClick(field)}" render="@form" /> 
                        </h:commandButton>
                        </h:column> 
                    </h:dataTable>
                <h:commandButton value="Add">
                    <f:ajax listener="#{documentBean.onButtonAddFieldClick}" render="tblFields"  /> 
                </h:commandButton>
                </td></tr> 
                <tr><td> 
                    <h:commandButton value="Send Document">
                        <f:ajax execute="name comments"  render="output"/>
                    </h:commandButton>
                </td></tr> 
            </table>
            <h2><h:outputText id="output" value="#{documentBean.sendDocument}" /></h2>
            </h:form>
        
            <h:form>
    		<h:commandLink action="#{loginBean.doLogout}" value="Logout"/>
            </h:form>
    </h:body>
</html>