<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
 
    <h:head>
        <title>Info page</title>
    </h:head>
    <h:body>
    	<h:form>
    		<h3>Welcome</h3>
    		<br/>
    		<h:outputText value="Some info about app"/>
    		<br/>
    		<h:commandLink action="#{navigationBean.toLogin}" value="Go to login page"/>
    	</h:form>
    </h:body>
</html>