<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
 
    <h:head>
        <title>Login form</title>
    </h:head>
    <h:body>
    	<h3>Login here</h3>
    	<h:form id="login-form">
    	   <h:outputText value="username:"/>
    	   <h:inputText value="#{loginBean.username}" id="username"/>
    	   <br/>
    	   <h:outputText value="password:"/>
    	   <h:inputSecret value="#{loginBean.password}" id="password"/>
    	   <br/>
    	   <h:commandButton id="button" value="Login" action="#{loginBean.doLogin}"/>
    	   <br/>
    	   <h:commandLink action="#{navigationBean.toInfo}" value="Info page"/>
    	   <br/>
    	   <h:messages />
    	   <br/>
    	</h:form>
    </h:body>
</html>